@import "global";


.header {
    min-height: 1080px;

    &__menu {

        &-inner {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;

            .logo {
                z-index: 4;
            }

        }
    }

    &__nav {
        margin: 0 auto;
        padding: 0;
        z-index: 3;

        li {
            letter-spacing: 0.08rem;

            a {
                padding-bottom: 15px;
                transition: all .3s;
            }

            a:hover {
                color: #f1ac11;
                border-bottom: 3px solid #f1ac11;

            }

            & + li {
                margin-left: 50px;
            }
        }
    }
}

// Need a FIX

.items {

    &__inner {


        .wrapper {
            position: relative;
            padding-top: 56.25%;
        }

        .mainbg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: auto;
            z-index: -1;
        }
    }
}

//


.item-container-s,
.item-container-f,
.item-container-t {
    max-width: 370px;
    width: 100%;
    min-height: 205px;
    position: absolute;
    top: 345px;
    border: 1px solid transparent;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    transition: all 0.4s linear;

    &:hover {
        top: 290px;
        background-color: rgba(#fff, .85);

        .item-container__btn {
            opacity: 1;
        }
    }

    .item-container__text {
        font-size: 27px;
        font-weight: bold;
        margin-top: 40px;
        padding: 0px 20px;
    }

    .item-container__btn {
        display: inline-block;
        font-size: 12px;
        color: #000;
        background-color: #f1ac11;
        padding: 10px 40px;
        margin-top: 25px;
        border-radius: 4px;
        opacity: .7;

    }
}

.item-container-f {
    left: 70px;
    background-color: rgba(#fff, .4);


}

.item-container-s {
    left: 750px;
    background-color: rgba(#fff, .4);
}

.item-container-t {
    right: 40px;
    background-color: rgba(#fff, .4);
}

.menu {
    &__title {
        font-size: 42px;
        text-align: center;
        color: #f1ac11;
        margin-top: 75px;
    }

    &__filter {
        margin-top: 35px;
        font-style: italic;

        .check {
            position: relative;
            padding-left: 25px;


            .filter-btn {
                position: absolute;
                -webkit-appearance: none;
                -moz-appearance: none;
            }

            .check__box {
                position: absolute;
                background-image: url('../img/default.svg');
                margin-left: -25px;
                width: 1em;
                height: 1em;
            }

            .filter-btn:checked + .check__box {
                background-image: url('../img/checked.svg');
            }


        }


    }

    &__items {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        margin-top: 40px;

        .angle-inner {
            position: relative;
        }

        .angle-inner::before,
        .angle-inner::after,
        .orange-bg::before,
        .orange-bg::after,
            {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #fff;
        }

        .angle-inner::before {
            top: -10px;
            left: -2px;
        }

        .angle-inner::after {
            top: 17px;
            left: -2px;
        }

        .orange-bg::before {
            top: -10px;
            right: -2px;
        }

        .orange-bg::after {
            top: 17px;
            right: -2px;
        }

        .orange-bg {
            background-color: #f1ac11;
            padding: 8px 10px;
        }
    }

    &__item-img {
        margin-right: 30px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }


    &__item-inner {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        min-height: 90px;
        min-width: 430px;
    }

    &__item-title {
        font-size: 15px;
        color: #2b2b2b;
        margin-bottom: 15px;
    }

    &__item-desc {
        font-size: 12px;
        color: #bcbcbc;
    }

}

.online-menu {
    margin: 90px 0 45px;
    position: relative;

    .flex-container {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        margin: 0 -15px;
    }

    .online-menu__item {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        border: 2px solid #f6f6f6;
        border-radius: 35px;
        border-top-left-radius: 150px;
        max-width: 900px;
        height: 300px;
    }


    img {
        max-width: 450px;
        max-height: 300px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        border-top-left-radius: 150px;
        border-bottom-left-radius: 32px;
    }

    &__wrapper {
        max-width: 450px;
        padding: 0 70px 0 25px;
        text-transform: uppercase;

    }

    &__heading {
        font-size: 12px;
        color: #f3b848;
        margin-top: 25px;

    }

    &__title {
        font-size: 24px;
        margin-top: 15px;
    }

    &__text {
        font-size: 14px;
        color: #a9a9a9;
        margin-top: 20px;
        text-transform: none;

    }


    &__btn {
        position: absolute;
        bottom: 25px;
    }

}

.find-us {
    min-height: 490px;
    margin-top: 80px;
    background-image: url('../img/findus-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 570px;
        height: 330px;
        background-color: #fff;
        border-radius: 35px;

    }

    &__wrapper {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .showon-btn {
        display: block;
        margin: 0 auto;
        margin-top: 35px;
        margin-bottom: 75px;
        max-width: 195px;
        color: #000;
        font-size: 14px;
        text-align: center;
    }

    .secondary-logo {
        margin-right: 30px;
        margin-left: 65px;

    }

    &__title {
        margin-top: 75px;
        margin-bottom: 50px;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
    }

    &__location {
        margin-left: 30px;
        margin-right: 65px;
        line-height: 20px;
    }
}

.footer {
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 275px;
    color: #fff;
    text-transform: uppercase;




    &__inner {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-around;
    }

    &__item {
        max-width: 210px;


        &-title {
            font-size: 20px;
            font-weight: normal;
            margin-top: 75px;
        }

    }

    &__menu {
        li {
            display: block;
            padding-bottom: 5px;


            a {
                color: #bbbbbb;
                font-size: 15px;
                font-weight: normal;
            }
        }
    }

    &__form {

        &-newsletter {
            margin-top: 45px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
        }

        &-email {
            max-width: 250px;
            width: 100%;
            background-color: rgba(#fff, .4);
            border: none;
            padding: 10px 15px;
            text-transform: uppercase;
            margin-right: 45px;

            &::placeholder {
                color: #fff;
            }
        }
    }
}

// Slick settings

.slick-dots {
    bottom: -40px;

    li button {
        padding: 0;
    }

    li button:before {
        font-size: 40px;
    }

    li.slick-active button:before {
        color: coral;

    }
}


.slick-slide {
    padding: 0 15px;
}

//




// animate.css added
.animated.delay-05s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

//

@import "media";
